* {
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  padding: 0;
  margin: 0;
}

h2,
h3 {
  color: #00a2c6;
}

nav a {
  font-size: 18px;
  padding: 11px;
  font-weight: 400;
  text-decoration: none;
  color: white;
}

header {
  display: inline;
}

#content {
  flex: 5;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem 2rem;
}

aside {
  flex: 1;
}

nav a:hover {
  font-weight: bold;
}

footer {
  padding: 20px;
  color: white;
  background-color: #00a2c6;
  font-weight: bold;
  text-align: center;
}

.profile header {
  text-align: center;
}

.featured-image {
  width: 100%;
  max-height: 375px;
  object-fit: cover;
  object-position: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
}

.jumbotron {
  font-size: 20px;
  padding: 60px;
  background-color: #00c8eb;
  text-align: center;
  color: white;
}

nav li {
  list-style-type: none;
}

nav {
  background-color: #00a2c6;
  padding: 5px;
  position: sticky;
  top: 0;
}

main {
  padding: 20px;
  display: flex;
  gap: 1.5rem;
}

nav ul {
  padding-inline: 4rem;
  display: flex;
}

@media screen and (max-width: 1000px) {
  #content,
  aside {
    width: 100%;
    padding: 0;
  }
}
